name: example
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.2
  horizontal_calendar_widget:

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true